# Gradle files
.gradle/
build/

# Local configuration file (SDK path, etc)
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store

# Logs
*.log

# Android build outputs
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# Keystore files
*.jks
*.keystore

# Google Services (Firebase)
google-services.json

# HPROF
*.hprof

# installers
*.exe
*.msi